<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/dist/css/bootstrap.min.css">
</head>
<body>
    
    <div class="container">
        <br>
        <div class="row">
       
            <div class="col-sm-4">
                <img src="/img/circle-music.jpg" alt="" width="25%">
            </div>
            <div class="col-sm-8 pull-right">
                <form action="" id="frmLogin" name="frmLogin">
                    <div class="form-inline">
                        <label for="txtUserName">User Name</label>
                            <input type="text"
                            id="txtUserName"
                            name="txtUserName"
                            class="form-control form-control-sm ml-2 mr-2">
                       
                            <label for="txtPassword">Password</label>
                            <input type="password"
                            id="txtPassword"
                            name="txtPassword"
                            class="form-control form-control-sm ml-2 mr-2">
                       
                            <button class="btn btn-primary btn-sm">Login</button>
                        
                    </div>
                    
                </form>
            </div>
        </div>
        <!-- //header row -->

        <div class="row">
            <div class="col-sm-12 text-center">
                <br>
                <h2>Welcome to Music website</h2>
            </div>
        </div>
    </div>
   

</body>
</html>