<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music site</title>
    <link rel="stylesheet" href="/css/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">

    <script>

        window.onload = function () {

            populatePage();

            document.getElementById('logout').onclick = function () {
                sessionStorage.clear();

                populatePage();

                clearMusicList();
                console.log('loged out');

            };

            document.getElementById('btnLogin').onclick = function () {
                sessionStorage.clear();
                let loginInfo = {
                    username: document.getElementById('txtUserName').value,
                    password: document.getElementById('txtPassword').value
                };
                fetch("http://localhost:3000/login", {
                    method: 'POST',
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(loginInfo)
                })
                    .then((res) => res.json())
                    .then((res) => {

                        //document.getElementById('username').innerHTML=res.username;
                        sessionStorage.setItem('username', res.username);
                        sessionStorage.setItem('datetime', new Date());

                        document.getElementById('txtUserName').value = '';
                        document.getElementById('txtPassword').value = '';

                        if (res.username === 'not ok') {

                            document.getElementById('wrong-user-pass').style.display = 'block';

                        } else {
                            sessionStorage.setItem('username', res.username);
                            document.getElementById('wrong-user-pass').style.display = 'none';

                            populatePage();
                        }

                    });
            }

        }

        function populatePage() {

            clearMusicList();

            if (sessionStorage.getItem('username') === 'not ok') {

                document.getElementById('frmLogout').style.display = 'none';
                document.getElementById('frmLogin').style.display = 'block';

                document.getElementById('before-login').style.display = 'block';
                document.getElementById('after-login').style.display = 'none';

                document.getElementById('wrong-user-pass').style.display = 'block';
                document.getElementById('extra').style.display = 'none';
                document.getElementById('extra2').style.display = 'none';

                console.log('printed from not ok');
                console.log(sessionStorage.getItem('username'));
            }

            if (sessionStorage.getItem('username') !== 'not ok' && sessionStorage.getItem('username') !== null) {

                document.getElementById('frmLogout').style.display = 'block';
                document.getElementById('frmLogin').style.display = 'none';

                document.getElementById('before-login').style.display = 'none';
                document.getElementById('after-login').style.display = 'block';

                document.getElementById('wrong-user-pass').style.display = 'none';

                document.getElementById('extra').style.display = 'block';
                document.getElementById('extra2').style.display = 'block';
                document.getElementById('welcomeuser').innerHTML = 'Welcome, ' + sessionStorage.getItem('username');

                fetch("http://localhost:3000/musics")
                    .then((res) => res.json())
                    .then((res) => {
                        buildMusicList(res);
                    });

                fetch("http://localhost:3000/myMusics/" + sessionStorage.getItem('username'))
                    .then((res) => res.json())
                    .then((res) => {
                        buildMyMusic(res);
                    });
            }

            if (sessionStorage.getItem('username') === null) {

                document.getElementById('frmLogout').style.display = 'none';
                document.getElementById('frmLogin').style.display = 'block';

                document.getElementById('before-login').style.display = 'block';
                document.getElementById('after-login').style.display = 'none';
                document.getElementById('wrong-user-pass').style.display = 'none';
                document.getElementById('extra').style.display = 'none';
                document.getElementById('extra2').style.display = 'none';
            }
        }

        function buildMyMusic(data) {
            let table = document.getElementById('myMusicList');

            
            table.innerHTML = "";

            if(data.length>0){
                document.getElementById('nosong').style.display='none';
                
                for (let i = 0; i < data.length; i++) {
                let rw = `<tr>
                            <td>${i+1}</td>
                            <td>${data[i].title}</td>
                            
                            <td>               
                                <i class="fa-solid fa-minus mr-3" onclick="removeFromPlay('${data[i].id}')"></i>
                                <i class="fa-solid fa-play" onclick="playAudio('${data[i].audioLink}', '${data[i].title}')"></i>
                            </td>
                        </tr>`

                table.innerHTML += rw;
            }
            }else{
                document.getElementById('nosong').style.display='block';
               
            }
            
        }

        function search(){
            let searchKey = document.getElementById('txtSearchKey').value;

            fetch("http://localhost:3000/musics/" + searchKey)
                        .then((res) => res.json())
                        .then((res) => {
                            clearMusicList();
                            buildMusicList(res);

                            document.getElementById('searchTitle').innerHTML='Results of "' + searchKey + '"';
                        });
        }

        function buildMusicList(data) {

            var table = document.getElementById('musicList');
            for (let i = 0; i < data.length; i++) {
                let rw = `<tr>
                            <td>${data[i].id}</td>
                            <td>${data[i].title}</td>
                            <td>${data[i].releasedate}</td>
                            <td>
                                  
                                    
                                    <i class="fa-solid fa-plus" 
                                    onclick="addToFavourite('${data[i].id}', '${data[i].title}', '${data[i].audioLink}')"></i>
                            </td>
                        </tr>`

                table.innerHTML += rw;
            }
        }

        function clearMusicList() {
            let table = document.getElementById("musicList");
            table.innerHTML = "";
        }

        function addToFavourite(id, title, audioLink) {

            let obj = {
                id: id,
                title: title,
                audioLink: audioLink,
                user: sessionStorage.getItem('username')
            }
            

            fetch("http://localhost:3000/myMusics", {
                method: 'POST',
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(obj)
            })
                .then((res) => {
                    
                    fetch("http://localhost:3000/myMusics/" + sessionStorage.getItem('username'))
                        .then((res) => res.json())
                        .then((res) => {
                            buildMyMusic(res);
                        });

                });
                
        }
    
        function removeFromPlay(id){
            
           

            fetch("http://localhost:3000/myMusics/removeMusic", {
                method: 'POST',
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({id: id, user: sessionStorage.getItem('username')})
            })
                .then((res) => {
                    
                    fetch("http://localhost:3000/myMusics/" + sessionStorage.getItem('username'))
                        .then((res) => res.json())
                        .then((res) => {
                            buildMyMusic(res);
                        });

                });
        }
    
        function playAudio(audioLink, title){
            document.getElementById('audioTitle').innerHTML=title;
            document.getElementById('myAudio').src="/songs/As_It_Was_New.mp3";
            document.getElementById('myAudio').play();
        }
    
    </script>
</head>

<body>

    <div class="container">
        <br>
        <!-- <p id="username">

        </p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>

            <tbody id="myTable">

            </tbody>
        </table> -->
        <div class="row">

            <div class="col-sm-4">
                <img src="/img/circle-music.jpg" alt="" width="25%">
            </div>
            <div class="col-sm-8">
                <div id="frmLogin" name="frmLogin" class="float-right">
                    <div class="form-inline">
                        <label for="txtUserName">User Name</label>
                        <input type="text" id="txtUserName" name="username"
                            class="form-control form-control-sm ml-2 mr-2">

                        <label for="txtPassword">Password</label>
                        <input type="password" id="txtPassword" name="password"
                            class="form-control form-control-sm ml-2 mr-2">

                        <button class="btn btn-primary btn-sm" id="btnLogin">Login</button>

                    </div>


                </div>

                <div id="wrong-user-pass" class="text-danger float-right">
                    <br>
                    Invalid username/ password.
                </div>

                <div id="frmLogout" class="float-right">
                    <div class="form-inline">
                        <input type="text" id="txtSearchKey" class="form-control form-control-sm mr-2" placeholder="serach">
                        <button class="btn btn-default btn-sm mr-2" onclick="search()">Search</button>
                        <label for="" id="welcomeuser">Welcome</label>
                        <button id="logout" class="btn btn-danger btn-sm ml-2">Logout</button>
                    </div>
                </div>


            </div>
        </div>
        <!-- //header row -->

        <div class="row">
            <div class="col-sm-12 text-center" id="before-login">
                <br>
                <h2>Welcome to Music website</h2>
            </div>

            <div class="col-sm-12 text-center" id="after-login">
                <h2 id="searchTitle">Song you may interest</h2>

                <br>
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th width="10%">Id</th>
                            <th width="70%">Title</th>
                            <th width="10%">Release Date</th>
                            <th width="10%">Actions</th>

                        </tr>
                    </thead>

                    <tbody id="musicList">

                    </tbody>
                </table>

                <br>

                <h2>Your playlist</h2>
                <p id="nosong">No songs in your playlist</p>
                <table class="table table-sm table-bordered" id="myPlayList">
                    <thead>
                        <tr>
                            <th width="10%">S/L</th>
                            <th width="70%">Title</th>
                            <th width="20%">actions</th>

                        </tr>
                    </thead>

                    <tbody id="myMusicList">
                       
                    </tbody>
                </table>
            </div>
        </div>
        

        <hr/>

        <div class="row">
           
            <div class="col-sm-6 text-center">
                <div class="mt-4" id="extra2">
                    <i class="fa-solid fa-angle-left mr-3"></i>
                    <i class="fa-solid fa-play mr-3"></i>
                    <i class="fa-solid fa-angle-right mr-3"></i>
                </div>
                
            </div>
           
            <div class="col-sm-4" id="extra">
                <p id="audioTitle"></p>
                <audio controls  id="myAudio">
                    
                    <source src="" type="audio/mpeg">
                  Your browser does not support the audio element.
                  </audio>
            </div>
            <div class="col-sm-2">
                
            </div>
        </div>
       
    
    </div>


</body>

</html>